

.wrapper {
  margin: 0 auto;
  max-width: var(--content-w-narrow);
}

.center {
  display:block;
  width: 100%;
  max-width: 160px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
}

.heading {
  margin: 2rem 0;
  font-size: 2.6rem;
}
h2 {
  margin-top: 3rem;
  font-size: 300%;
  text-align: center;
}

h3 {
  margin-top: 3rem;
  font-size: 200%;
  font-style: italic;
  text-align: center;
  font-family: monospace;
  color: black;
}
.flexcontainer {
  /* We first create a flex layout context */
  display: flex;
  background: #c0e0ee;
  border-radius: 1rem;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 2rem;
  list-style: none;
}

.flexitem {
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.701);
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 0.5rem;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0.5rem;
}

.ul {
  padding: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.flexcontainerAnnounce {
  /* We first create a flex layout context */
  display: flex;
  background: #c6eec0;
  border-radius: 1rem;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5rem;
  margin: 2rem;
  list-style: none;
}
/* 
.ul {
  padding: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.495);
  border-radius: 0.5rem;
} */

.title {
  font-size: auto;
}

.content {
  margin-top: 6rem;
  font-size: auto;
}

.site_logo {
  margin: 1rem;
  float: center;
  max-width: 6rem;
}


/* Style the table */
.table {
  margin: 2rem;
  border-collapse: collapse;
  border-spacing: 100;
  width: 90%;
  border: 1px solid #ddd;
  background: #c0e0ee;
  text-align: center;
  font-weight: normal;
  font-size: 0.9rem;
}
.table_rowB {
  background: #d7eef8;
  text-align: center;
}
.table_rowA {
  background: #f2f3f3;
  text-align: center;
}

/* .announcement-banner {
  background-color: #f7f7f7;
  border-left: 5px solid #3498db;
  padding: 20px;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}
.announcement-banner h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  text-align: center;
}
.announcement-banner p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.announcement-banner a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
} */