.masthead {
  padding: 1rem;
  font-size: 84%;
  font-family: var(--highlight-font);
  text-align: center;
  background-color: black;
}

.site_logo {
  margin: 1rem auto;
  max-width: 6rem;
}

.masthead_info {
  color: var(--rich-black);
}

.masthead_info a {
  color: inherit;
  text-decoration: none;
}

.site_title {
  font-size: 240%;
}
