.articlelist {
  max-width: var(--content-w-narrow);
  margin: 0 auto;
  padding: 0 2rem;
}

.articlelist h2 {
  margin-top: 3rem;
  font-size: 4rem;
  text-align: center;
}

.articlelist ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.article__meta,
.article__tax {
  font-family: var(--highlight-font);
  font-size: 80%;
}

.listitem {
  margin: 3rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  background: #c0e0ee;
  border-radius: 1rem;
  align-content: space-between;
}

.listitem .featimg {
  flex: 1 0 50%;
  max-width: 400px;
}

.listitem .article__title {
  font-size: auto;
}

.listitem .article__content {
  margin-top: 2rem;
}
